@import url('https://fonts.googleapis.com/css?family=Dosis');

html, body {
	width: 100%;
	height: 100%
}

.body {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

button:Hover {
  color: #51fbf0;
  background-color: black;
}

.text-styling {
	position: relative;
	letter-spacing: 2px;
	font-family: 'Dosis';
	font-size: 21px;
	text-align: center;
}

.hero_text {
	margin-top: 550px;
	color: #50E3C2;
}

/*.Hero_content {
	text-align:center;
	margin-top:42%;
	margin-bottom:13%
}*/

/*.Hero {
	background-image: url('/Users/harshit/cclub/saefamai/images/Hero_image.jpg');
	background-repeat: no-repeat;
	height: 700px;
	background-position: center center;
	background-size: contain;
	top: 0px;
	left: 0px;
}*/

/*.Hero_text {
	position: absolute;
	top: 550px;
	left: 454px;
	text-align: center;
	color: #50E3C2;
	letter-spacing: 2px !important;
	font-size: 16px !important;
	font-family: 'Dosis' !important;
	padding-top: 350px;
}*/

.hero_support_text {
	top: 65px;
	color: #829496;
}

.Section_1 {
	top: 130px;
	color: white;
}

.Section_1_support_text {
	top: 170px;
	color: #02202a;
}

.image_section_1 {
	position: absolute;
	top: 900px;
	left: 0px;
}

.Section_2 {
	top: 88px;
	color: #02202a;
}

.Section_2_support_text {
	top: 90px;
	color: #02202a;
}

.image_section_2 {
	position: absolute;
	top: 1415px;
	left: 0px;
	z-index: -1;
}

.Section_3 {
	top: 130px;
	color: #ababab;
}

.image_section_3 {
	position: absolute;
	top: 2070px;
	left: 20px;
	z-index: -1;
	color: black;
}

.section_4 {
	position: absolute;
	top: 2740px;
	left: 470px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 21px;
	font-weight: bolder;
	color: #02202a;
}

.image_section_4 {
	position: absolute;
	top: 2650px;
	left: 0px;
	z-index: -1;
}

.section_5 {
	position: absolute;
	top: 3640px;
	left: 470px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 21px;
	font-weight: bolder;
	color: #02202a;
}

.image_section_5 {
	position: absolute;
	top:3548px;
	left: 0px;
	z-index: -1;
}

#rectangle {
	top: 2200px;
    width:200px;
    height:100px;
    background:black;
}

.footer {
	position: relative;
	z-index: -1;
	background-color: #03202a;
}
