@import url('https://fonts.googleapis.com/css?family=Dosis');

html, body {
	width: 100%;
	height: 100%
}

.body {
	margin-bottom: 0px;
	padding-bottom: 0px;
}

.fullpage_image, .responsive_text, .hero_support_text {
	height: 100vh;
}

.myButton {
	border: none;
	position: fixed;
	top: 76%;
	left: 40%;
	background-color: #ffd30a !important;
	font-size: 20px !important;  
	margin-top: 30px;
	width: 20%;
	height: 55px;
	border-radius: 18px !important;
	color: #03202a;
	outline: 0 !important;
	z-index: 900;

	text-align: center;
	display: inline-block;

	-o-transition:.25s;
	-ms-transition:.25s;
	-moz-transition:.25s;
	-webkit-transition:.25s;
	transition:.25s;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

button:Hover {
  color: #51fbf0 !important;
  background-color: black !important;
}

.text-styling {
	position: relative;
	letter-spacing: 2px;
	font-family: 'Dosis';
	font-size: 21px;
	text-align: center;
}

.hero_text {
	top: 50%;
	color: #50E3C2;
}


.hero_support_text {
	/*margin-top: 50px;*/
	/*top: 360px;*/
	top: 55%;
	color: #829496;
}

.Section_1 {
	top: 130px;
	color: white;
}

.Section_1_support_text {
	top: 170px;
	color: #02202a;
}

.image_section_1 {
	position: absolute;
	top: 900px;
	left: 0px;
}

.Section_2 {
	top: 88px;
	color: #02202a;
}

.Section_2_support_text {
	top: 90px;
	color: #02202a;
}

.image_section_2 {
	position: absolute;
	top: 1415px;
	left: 0px;
	z-index: -1;
}

.Section_3 {
	top: 130px;
	color: #ababab;
}

.image_section_3 {
	position: absolute;
	top: 2070px;
	left: 20px;
	z-index: -1;
	color: black;
}

.section_4 {
	position: absolute;
	top: 2740px;
	left: 470px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 21px;
	font-weight: bolder;
	color: #02202a;
}

.image_section_4 {
	position: absolute;
	top: 2650px;
	left: 0px;
	z-index: -1;
}

.section_5 {
	position: absolute;
	top: 3640px;
	left: 470px;
	text-align: center;
	letter-spacing: 2px;
	font-size: 21px;
	font-weight: bolder;
	color: #02202a;
}

.image_section_5 {
	position: absolute;
	top:3548px;
	left: 0px;
	z-index: -1;
}

#rectangle {
	top: 2200px;
    width:200px;
    height:100px;
    background:black;
}

.footer {
	position: relative;
	z-index: -1;
	background-color: #03202a;
}
